/* HTML TAGS */
h1 {
	margin-top: 0px;
	font-size: 24px; /* 24px/16=1.5em */
	font-weight: normal;
	color: #345573;
}

h2 {
	font-size: 18px; /* 30px/16=1.875em */
	font-weight: normal;
	color: #345573;
	margin-bottom: 0px;
}

h3 {
	font-size: 16px; /* 30px/16=1.875em */
	font-weight: normal;
	color: #345573;
}

h4 {
	font-size: 14px; /* 30px/16=1.875em */
	font-weight: normal;
	color: #345573;
}

h5 {
	font-size: 14px; /* 30px/16=1.875em */
	font-weight: normal;
	color: #345573;
}

p {
	font-size: 14px; /* 14px/16=0.875em */
	padding: 5px 15px;
}

body {
	margin: 0px;
	color: #041122;
	font-size: 14px; /* 14px/16=0.875em */
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* FORM STYLES */
.formTitle {
	display: inline;
}

.view td h3 {
	text-align: right;
	vertical-align: top;
	margin: 0px;
}

.view td {
	vertical-align: top;
}

.author {
	vertical-align: middle;
}

td {
	vertical-align: top;
	padding-left: 20px;
	padding-bottom: 7px;
}

tbody td label {
	text-align: right;
}

thead td label {
	font-size: 14px; /* 30px/16=1.875em */
	font-weight: normal;
	color: #345573;
}

thead {
	border-bottom: 1px solid #ddd;
}

input.button_add {
	background-image: url(../images/add.png); /* 16px x 16px */
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	/* make the cursor like hovering over an <a> element */
	height: 17px;
	width: 17px;
	margin: 5px;
}

input.button_remove {
	background-image: url(../images/delete.png); /* 16px x 16px */
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	/* make the cursor like hovering over an <a> element */
	height: 17px;
	height: 17px;
	width: 17px;
	margin: 0px;
}

/* SUBMIT BUTTONS */
input .button {
	margin-top: 10px;
	display: block;
	height: 35px;
	padding: 0px 10px;
	background: url('../images/submitback.png') repeat-x;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	background: url('../images/submitback.png') repeat-x;
}

#bookSubmit {
	margin-top: 10px;
	display: block;
	height: 35px;
	width: 100%;
	background: url('../images/submitback.png') repeat-x;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#bookSubmit:hover {
	opacity: 0.7;
	filter: alpha(opacity =         70); /* For IE8 and earlier */
	color: #fff;
}

#journalSubmit {
	margin-top: 10px;
	display: block;
	height: 35px;
	width: 100%;
	background: url('../images/journalsubmitback.png') repeat-x;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#journalSubmit:hover {
	opacity: 0.7;
	filter: alpha(opacity =         70); /* For IE8 and earlier */
	color: #fff;
}

/* LAYOUT */
#wrapper {
	width: 1096px;
	margin: 0px auto;
	background: url('../images/leftcolback.png');
	background-color: #FFF;
	background-repeat: repeat-y;
	border: 1px solid #222;
	box-shadow: 2px 2px 10px #555;
}

/* HEADER */
#header {
	background: url('../images/headerback.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 80px;
}

#logo {
	padding: 10px;
}

#logo a {
	text-decoration: none;
	border: none;
}

#logo a img {
	border: none;
}

#logo a img:hover {
	opacity: 0.4;
	filter: alpha(opacity =         40); /* For IE8 and earlier */
}

/* LEFT COLUMN */
#leftCol {
	width: 135px;
	float: left;
	padding: 0px;
	margin: 0px;
}

#typeMenu ul {
	width: 134px;
	border-right: 1px solid #041122;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	list-style-type: none;
}

#typeMenu ul li {
	padding: 0px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
}

#typeMenu ul li a {
	text-decoration: none;
	color: #fff;
}

#typeMenu ul li a:hover {
	text-decoration: none;
	color: #ddd;
}

/* RIGHT COLUMN */
#rightcontainer {
	background: url('../images/rightcolback.png') repeat-y top right;
}

#rightCol {
	background: url('../images/rightcolback.png') repeat-y;
	padding: 16px;
	width: 308px;
	float: right;
}

#referenceList {
	
}

#middleCol {
	margin-left: 135px;
	padding: 16px;
	margin-right: 340px;
}

/* VIEW BODY */
#content {
	
}

#content label {
	display: block;
	font-size: 14px; /* 30px/16=1.875em */
	font-weight: normal;
	color: #345573;
}

#content th {
	text-align: left;
	font-weight: normal;
}

/* RIGHT COLUMN */
#footer {
	height: 43px;
	width: 100%;
	background: url('../images/footerback.png') repeat-x;
}

#copyright {
	padding: 14px;
	float: right;
	font-size: 13px;
	font-family: Verdana, Arial, san-serif;
	color: #fff
}

/* CLASSES */
.clear {
	clear: both;
}

/* headers */
.bookHeader {
	color: #D93232;
}

.journalHeader {
	color: #8B8432;
}

/* other */
.systemMessage {
	color: #D93232;
}

.error {
	border-radius: 5px;
	background-color: #ffd;
	border: 1px solid #D93232;
}

.success {
	border-radius: 5px;
	background-color: #ffd;
	border: 1px solid #3a5;
}

.success h2 {
	color: #3a5;
}

.msg {
	padding: 15px;
	margin-bottom: 16px;
	display: inline-block;
}

.msg h2 {
	margin: 0px;
}

.error h2 {
	color: #D93232;
}

.msg p {
	padding-bottom: 0px;
}

.alt {
	color: #345573;
}

.download {
	margin-top: 10px;
	display: block;
	height: 30px;
	width: 100%;
	background: url('../images/downloadback.png') repeat-x;
	border-radius: 5px;
	text-align: center;
	padding-top: 7px;
}

.download a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

.book {
	background: url('../images/bookback.png') repeat-x;
	background-color: #D93232;
}

.journal {
	background: url('../images/journalback.png') repeat-x;
	background-color: #8B8432;
}

.other {
	background: url('../images/otherback.png') repeat-x;
}

h1 a {
	text-decoration: none;
}

/********************************************************/

/*XSL section*/

/********************************************************/
#xslContainer {
	width: 200px;
	height: 100%;
	font-size: 16px;
	font-family: "PT Sans + PT Serif", "Times New Roman", Times, serif;
}

#xslEdit {
	float: left;
	margin: 5px 0 0 0;
}

#xslBody {
	line-height: 25px;
	margin: 0px 0px 20px 23px;
	text-indent: -40px;
	padding-left: 40px;
	width: 220px;
}

#xslBody a {
	text-decoration:none;
	color: #345573;
}

#xslBody a:hover {
	color: #D93232;
}

.referenceItalic {
	font-style: italic;
}

#xslDelete a {
	margin: 5px 0 0 3px;
}

#xslDelete {
	margin: 0 0 0 285px;
	float: left;
	padding: 0 0 0 0;
	position: absolute;
	float: right;
}

/*validation*/
#Validation {
	border: 4px solid #921868;
	color: red;
}
