body {
	
}

#MyTextArea {
	border: 1px solid black;
	width: 550px;
	margin: 16px;
	height: 360px;
	resize: none;
	display:block;
	clear:both;
}

#error {
	border: 4px solid #921868;
	padding: 10px;
	width: 80%;
	color: red;
}